/* CSS Document */
.left,.right{
	width:48%;
	padding:10px;
}
.left{
	float:left;
}
.right{
	float:right;
}
	
.right span{
	background-color:rgba(231,125,191,1.00);
	width:100%;
	display:block;
	text-align:center;
}

.foot1{
	margin-bottom:0px;
	margin-top:700px;
	background-color:gray;
	text-align:center;
	}